.fullpage{
	background-color: lavender;
}

.container4{
	height: 5em;
}
.container4p{
	font-size: 24px;
	font-style: bold;
	position: absolute;
	top: 10%;
	left: 50%;
	margin-right:-50%;
	transform: translate(-50%, -50%) }
}
